<div class="mf-container">

  <nav class="mf-nav">
    <a class="mf-nav-link" [routerLink]="['horario-docentes']" routerLinkActive="mf-nav-link--active">
      <span class="material-icons">person</span>
      Horario Docentes
    </a>
    <a class="mf-nav-link" [routerLink]="['disponibilidad-espacios']" routerLinkActive="mf-nav-link--active">
      <span class="material-icons">meeting_room</span>
      Disponibilidad Espacios
    </a>
    <a class="mf-nav-link" [routerLink]="['horario-estudiantes']" routerLinkActive="mf-nav-link--active">
      <span class="material-icons">groups</span>
      Horario Estudiantes
    </a>

    <span class="mf-nav-spacer"></span>

    <div class="periodo-control">
      <label class="periodo-label">Período académico ID:</label>
      <input
        class="periodo-input"
        type="number"
        [(ngModel)]="periodoId"
        placeholder="Ej: 1"
        min="1"
        (keydown)="onKeydown($event)" />
      <button class="btn-buscar" (click)="aplicarPeriodo()">
        <span class="material-icons">search</span>
        Buscar
      </button>
    </div>
  </nav>

  <div class="mf-content">
    <router-outlet></router-outlet>
  </div>

</div>
