<div class="mf-container">

  <nav class="mf-nav">
    <a class="mf-nav-link" [routerLink]="['horario-docentes']" routerLinkActive="mf-nav-link--active">
      <span class="material-icons">person</span>
      Horario Docentes
    </a>
    <a class="mf-nav-link" [routerLink]="['disponibilidad-espacios']" routerLinkActive="mf-nav-link--active">
      <span class="material-icons">meeting_room</span>
      Disponibilidad Espacios
    </a>
    <a class="mf-nav-link" [routerLink]="['horario-estudiantes']" routerLinkActive="mf-nav-link--active">
      <span class="material-icons">school</span>
      Horario Estudiantes
    </a>
    <a class="mf-nav-link" [routerLink]="['distribucion-grupos']" routerLinkActive="mf-nav-link--active">
      <span class="material-icons">groups</span>
      Distribución de Grupos
    </a>
    <a class="mf-nav-link mf-nav-link--exec" [routerLink]="['ejecutar-optimizacion']" routerLinkActive="mf-nav-link--active">
      <span class="material-icons">play_circle</span>
      Ejecutar Optimización
    </a>

    <span class="mf-nav-spacer"></span>

    <div class="periodo-control">
      <label class="periodo-label">Período:</label>
      <select
        class="periodo-select"
        [(ngModel)]="periodoId"
        (change)="aplicarPeriodo()">
        <option [ngValue]="null" disabled>Seleccione...</option>
        <option *ngFor="let p of periodos" [ngValue]="p.id">
          {{ p.anio }}-{{ p.semestre }}
        </option>
      </select>
    </div>
  </nav>

  <div class="mf-content">
    <router-outlet></router-outlet>
  </div>

</div>
